<!-- This file contains the footer for each post - do not mistake it with page footer which is in footer.html partial -->

<footer>
  <p class="meta">
    <!--<span class="byline author vcard">Posted by <span class="fn">{{ with .Site.Params.author }}{{ . }}{{ end }}</span></span>-->
    <!-- can't put the .Date.Format inside the datetime attribute because of double quotes, so it's outside -->
    <!--<time>{{ .Date.Format "Jan 2, 2006" }}</time>-->
    {{ if isset .Params "tags" }}
      <span class="categories">
        Tags:
        <!-- need to convert the tags to lower for the URLs to work -->
          {{ range .Params.tags }}<a class="category" href="{{ "/tags/" | absURL }}{{ . | urlize | lower }}">{{ . }}</a>  {{ end }}
    {{ end }}
    </span>
  </p>

  <!-- For sharing stuff -->
  <!-- <div class="sharing"> </div> -->

  <!-- PrevInSection and nextInSection point to previous and next page in the same section, in this case "post"
       this way we won't see other pages.
       If you don't like it, use .Prev and .Next - if you want to use .Prev and .Next keep in mind that as of Hugo v0.15 they work the other way around
       meaning that .Prev needs to go to right which will point to the next post and .Next will go to left and will post to previous post - strange
       This does not happen with InSection ones
       For more info about template variables: https://gohugo.io/templates/variables/ -->

  <p class="meta">
    {{ with .PrevInSection }}
        <a class="basic-alignment left" href="{{ .Permalink }}" title="{{ .LinkTitle }}">{{ .LinkTitle }}</a>
    {{ end }}

    {{ with .NextInSection }}
      <a class="basic-alignment right" href="{{ .Permalink }}" title="{{ .LinkTitle }}">{{ .LinkTitle }}</a>
    {{ end }}
  </p>
  {{ if .Site.DisqusShortname }}
    {{ if not (eq .Params.comments false) }}
      {{ partial "disqus.html" . }}
    {{ end }}
  {{ end }}
</footer>
